<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ancaiyun.bid.mapper.PurchaserRecuritSupplierMapper">
  <resultMap id="BaseResultMap" type="org.springframework.ui.ModelMap">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />

    <result column="purchaser_id" jdbcType="VARCHAR" property="purchaserId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="project_num" jdbcType="VARCHAR" property="projectNum" />
    <result column="solicitation_conditions" jdbcType="VARCHAR" property="solicitationConditions" />
    <result column="scope" jdbcType="VARCHAR" property="scope" />
    <result column="supplier_provinces" jdbcType="VARCHAR" property="supplierProvinces" />
    <result column="supplier_businessModel" jdbcType="VARCHAR" property="supplierBusinessModel" />
    <result column="supplier_registered_capital" jdbcType="VARCHAR" property="supplierRegisteredCapital" />
    <result column="material_require" jdbcType="VARCHAR" property="materialRequire" />
    <result column="requirement_statements" jdbcType="VARCHAR" property="requirementStatements" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="quotation_number" jdbcType="INTEGER" property="quotationNumber" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="materys" jdbcType="VARCHAR" property="materys" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="sub_username" jdbcType="VARCHAR" property="subUsername" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="proceessId" jdbcType="VARCHAR" property="proceess_id" />
    <result column="tack_status" jdbcType="VARCHAR" property="tackStatus" />
    <result column="isExamine" jdbcType="VARCHAR" property="isExamine" />


  </resultMap>

  <select id="getAll" resultMap="BaseResultMap"  >
   select recruit.id, recruit.purchaser_id,recruit.title,recruit.project_num, recruit.create_time,recruit.quotation_number,recruit.status
    from  cj_ancaiyun_purchaser_recruit_supplier recruit,cj_ancaiyun_member member,cj_ancaiyun_member_extra_data extra
    where recruit.del_flag = "0"

    <if test="title!=null and title != ''">
      AND recruit.title like CONCAT(CONCAT('%', #{title}), '%')
    </if>
    <if test="buyCompany!=null and buyCompany != ''">
      and extra.company_name like CONCAT(CONCAT('%', #{buyCompany}), '%')
    </if>
    <if test="status!=null and status!= ''">
      and recruit.status =#{status}
    </if>
    <if test="startTimeOne!=null and startTimeOne != ''">
      and recruit.create_time &gt;=#{startTimeOne}
    </if>

    <if test="startTimeTwo!=null and startTimeTwo != ''">
      and recruit.create_time &lt;=#{startTimeTwo}
    </if>


    and recruit.purchaser_id=member.id and member.extra_data_id=extra.id   order by recruit.create_time desc
    /*select * from cj_ancaiyun_purchaser_recruit_supplier where del_flag='0'*/
  </select>

  <select id="getDetail" resultMap="BaseResultMap">
    select * from cj_ancaiyun_purchaser_recruit_supplier
    where del_flag = "0" and id=#{id,jdbcType=VARCHAR}
  </select>

    <update id="delete" >
    update cj_ancaiyun_purchaser_recruit_supplier set del_flag=1 where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>